@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    html {
        font-family: "Inter", system-ui, sans-serif;
    }

    main {
        min-height: 70vh;
    }


  }
@layer components {
    .hero img {
        @apply aspect-[16/9] md:aspect-[24/9] lg:aspect-[28/9] xl:aspect-[28/9] 2xl:aspect-[28/9] object-cover;
    }
}

  body {
    overflow-x: hidden;
  }