@import "./components/colors.css";
@import "./components/fonts.css";

@import "./components/buttons.css";
@import "./components/badge.css";
@import "./components/highlight.css";

@import "./components/footer.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/newsletter.css";
@import "./components/newsletterTeaserCard.css";
@import "./components/projectTeaserCard.css";
@import "./components/projectUpdateTeaserCard.css";
@import "./components/eventsList.css";
@import "./components/blog.css";
@import "./components/timeline.css";
@import "./components/designer.css";
@import "./components/cta.css";
@import "./components/blockquote.css";
@import "./components/video.css";
@import "./components/gallery.css";