[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
	branch = release/5.2.1
[submodule "content"]
	path = content
	url = https://github.com/MachMitGoslar/web_content
[submodule "site/plugins/gs-mmh-web-plugin"]
	path = site/plugins/gs-mmh-web-plugin
	url = https://github.com/MachMitGoslar/GS_MMH_WEB_PLUGIN
[submodule "site/plugins/gs-mmh-signage-plugin"]
	path = site/plugins/gs-mmh-signage-plugin
	url = https://github.com/MachMitGoslar/GS_MMH_SIGNAGE_PLUGIN
[submodule "site/plugins/git-content"]
	path = site/plugins/git-content
	url = https://github.com/thathoff/kirby-git-content.git
