:root {
}

.c-projectTeaserCard {
  grid-column: span 4;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(0 0 0 / 10%);
  background: #fff;
  overflow: hidden;
  contain: content;

  & .content {
    padding: 0 1rem;
    width: 100%;

    /* Status Header */
    & .statusheader {
      display: flex;
      justify-content: space-between;

      & .status-badge {
        --color-project-planning: var(--color-cornflower-1000);
        --color-project-preparing: var(--color-cornflower-1300);
        --color-project-active: var(--color-ripe-mango-1200);
        --color-project-review: var(--color-violaceous-greti-1200);
        --color-project-done: var(--color-ripe-mango-1400);

        display: inline-flex;
        padding: 0.125rem 0.5rem;
        font-size: var(--typo-size-80);
        font-weight: var(--font-weight-semiBold);
        border-radius: 4px;
        background: var(--color-fg-brand-primary);
        color: var(--color-white);

        &[data-color='preparing'] {
          background-color: var(--color-project-preparing);
        }

        &[data-color='planning'] {
          background-color: var(--color-project-planning);
        }

        &[data-color='active'] {
          background-color: var(--color-project-active);
        }

        &[data-color='review'] {
          background-color: var(--color-project-review);
        }

        &[data-color='done'] {
          background-color: var(--color-project-done);
        }
      }
    }
  }

  /* Hero */
  & .hero {
    --aspected-ration: 24/9;

    display: block;
    width: 100%;
    aspect-ratio: var(--aspected-ration);
    object-fit: cover;
    background: transparent;

    @media (width > 489px) {
      --aspected-ration: 21/9;
    }
    @media (width > 767px) {
    }
    @media (width > 1039px) {
    }
    @media (width > 1439px) {
    }
  }
}
