:root {
}

.c-projectUpdateTeaser-card {
  grid-column: span 4;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(0 0 0 / 10%);
  background: #fff;
  overflow: hidden;
  height: 100%;

  /* Hero */
  & .hero-wrapper {
    --aspected-ration: 24/9;

    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: var(--aspected-ration);
    overflow: hidden;

    @media (width > 489px) {
      --aspected-ration: 21/9;
    }
  }

  & .hero {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
  }

  & .outlook-badge {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: inline-flex;
    padding: 0.1875rem 0.625rem;
    font-size: var(--typo-size-80);
    font-weight: var(--font-weight-medium);
    border-radius: 1rem;
    background: var(--color-ripe-mango-200);
    color: var(--color-ripe-mango-1400);
    border: 1px solid var(--color-ripe-mango-300);
    box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
  }

  & .content {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    /* Status Header */
    & .statusheader {
      display: flex;
      justify-content: space-between;

      & .status-badge {
        --color-project-planning: var(--color-cornflower-1000);
        --color-project-preparing: var(--color-cornflower-1300);
        --color-project-active: var(--color-ripe-mango-1200);
        --color-project-review: var(--color-violaceous-greti-1200);
        --color-project-done: var(--color-ripe-mango-1400);

        display: inline-flex;
        padding: 0.125rem 0.5rem;
        font-size: var(--typo-size-80);
        font-weight: var(--font-weight-semiBold);
        border-radius: 4px;
        background: var(--color-fg-brand-primary);
        color: var(--color-white);

        &[data-color='preparing'] {
          background-color: var(--color-project-preparing);
        }

        &[data-color='planning'] {
          background-color: var(--color-project-planning);
        }

        &[data-color='active'] {
          background-color: var(--color-project-active);
        }

        &[data-color='review'] {
          background-color: var(--color-project-review);
        }

        &[data-color='done'] {
          background-color: var(--color-project-done);
        }
      }
    }
  }
}
