.designer > li {
  padding-inline: 2rem;
  line-height: 2.5rem;
}

.designer > p {
  margin-bottom: 2rem;
}

.designer .accordion-details {
  /* padding-block: 1rem;
    padding-inline: 2rem; */
  background-color: var(--color-dead-pixel-200);
  border-radius: 4px;
  margin-bottom: 1rem;
}

.designer .accordion-summary {
  border-bottom: 1px solid var(--color-fg-brand-primary);
  border-top: 1px solid var(--color-fg-brand-primary);
  padding: 1rem;
}

.designer .accordion-details p {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

/** CARD **/
.c-card {
  grid-column: span 4;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(0 0 0 / 10%);
  background: #fff;
  overflow: hidden;
  contain: content;
}

.c-card-content {
  padding: 0 1rem;
  width: 100%;
}

.c-card-hero {
  --aspected-ration: 24/9;

  display: block;
  width: 100%;
  aspect-ratio: var(--aspected-ration);
  object-fit: cover;
  background: red;

  @media (width > 489px) {
    --aspected-ration: 21/9;
  }
  @media (width > 767px) {
  }
  @media (width > 1039px) {
  }
  @media (width > 1439px) {
  }
}
