:root {}
.c-projectTeaserCard {
    grid-column: span 4;
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    overflow: hidden;
    contain:content;

  }
  .c-projectTeaserCard-content {
    padding: 0 1rem;
    width: 100%;
  }
  .c-projectTeaserCard-hero {
    --aspected-ration: 24/9;
    display: block;
    width: 100%;
    aspect-ratio: var(--aspected-ration);
    -o-object-fit: cover;
    object-fit: cover;
    background: red;
  
    @media  (width > 489px) {
     --aspected-ration: 21/9;
    }
    @media  (width > 767px) {
  
    }
    @media  (width > 1039px) {
  
    }
    @media  (width > 1439px) {
  
    }
  }

  .c-projectTeaserCard-statusheader {
    display: flex;
    justify-content: space-between;
  }

  .c-projectTeaserCard-badge, .c-projectUpdateTeaserCard-badge {
    display: inline-flex;
    padding: 0.125rem 0.5rem;
    font-size: var(--typo-size-80);
    font-weight: var(--font-weight-semiBold);
    border-radius: 4px;
    background: var(--color-fg-brand-primary);
    color: var(--color-white);

    &[data-color="planning"] {
      background-color: var(--color-project-planning);
    }
    &[data-color="preparing"] {
      background: var(--color-project-preparing);
    }
    &[data-color="active"] {
      background: var(--color-project-active);
    }
    &[data-color="review"] {
      background: var(--color-project-review);
    }
    &[data-color="done"] {
      background: var(--color-project-done);
    }

  }