.searchbar {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
}

.searchbar input[type='search'] {
  flex-grow: 1;
  min-width: 0;
  padding: var(--_padding-vertical, 0.5rem) var(--_padding-horizontal, 1rem);
  font-size: var(--_font-size, 0.875rem);
  font-weight: var(--_font-weight, 600);
  color: var(--_foreground, var(--color-ripe-mango-1400));
  border: var(
    --_border-primary-enabled,
    1px solid var(--color-dead-pixel-1200)
  );
  border-radius: var(--_border-radius, var(--border-radius-pill));
  background: var(--_background, none);
  transition: border-color 0.3s ease;
  height: var(--_height, 2.25rem);
  box-sizing: border-box;
}

.searchbar input[type='search']::placeholder {
  color: var(--color-dead-pixel-400);
}

.searchbar input[type='search']:hover,
.searchbar input[type='search']:focus {
  border-color: var(--color-dead-pixel-800, var(--color-dead-pixel-25));
  outline: none;
}
