.two-column-table {
  width: 100%;
}

.two-column-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.two-column-table td {
  padding: 0.75rem 0;
  vertical-align: top;
  border-bottom: 1px solid var(--color-dead-pixel-300);
}

/* zebra crossing */
.two-column-table tr:nth-child(even) {
  background-color: var(--color-dead-pixel-100);
}

/* first column */
.two-column-table .col1 {
  width: 40%;
  font-weight: 500;
  color: var(--color-dead-pixel-1300);
  padding-right: 1rem;
}

/* second column  */
.two-column-table .col2 {
  width: 60%;
  color: var(--color-dead-pixel-1100);
}
