/* Site-Specific Styles */

/* MachMit!Haus Goslar website-specific components and layouts */

/* Layout Components */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/hero.css');

/* Content-Type Components */
@import url('./components/projectTeaserCard.css');
@import url('./components/projectUpdateTeaserCard.css');
@import url('./components/teamMemberCard.css');
@import url('./components/eventsList.css');
@import url('./components/newsletter.css');
@import url('./components/newsletterTeaserCard.css');
@import url('./components/newsletter-item.css');
@import url('./components/blog.css');
