:root {
}

.grid {
  --grid-colums-count: 1;
  --grid-gap: 1rem;

  display: grid;
  grid-template-columns: repeat(var(--grid-colums-count), 1fr);
  gap: var(--grid-gap);
  @media (width > 767px) {
    --grid-gap: 1rem;
    --grid-colums-count: 8;
  }
  @media (width > 1039px) {
    --grid-colums-count: 12;
  }
  @media (width > 1439px) {
    --grid-colums-count: 12;
    --grid-gap: 2rem;
  }
}

.grid-item {
  &[data-span='1/1'] {
    --span: 1;

    grid-column: span var(--span);

    @media (width > 767px) {
      --span: 8;
    }
    @media (width > 1039px) {
      --span: 12;
    }
    @media (width > 1439px) {
      --span: 12;
    }
  }

  &[data-span='1/2'] {
    --span: 2;

    grid-column: span var(--span);

    @media (width > 767px) {
      --span: 4;
    }
    @media (width > 1039px) {
      --span: 6;
    }
    @media (width > 1439px) {
      --span: 6;
    }
  }

  &[data-span='1/2'][data-position='center'] {
    --start: 1;
    --span: 1;

    grid-column: var(--start) / span var(--span);

    @media (width > 767px) {
      --span: 4;
    }
    @media (width > 1039px) {
      --start: 4;
      --span: 6;
    }
    @media (width > 1439px) {
      --start: 4;
      --span: 6;
    }
  }

  &[data-span='2/3'] {
    --start: 1;
    --span: 1;

    grid-column: var(--start) / span var(--span);

    @media (width > 767px) {
      --span: 8;
    }
    @media (width > 1039px) {
      --start: 1;
      --span: 7;
    }
    @media (width > 1439px) {
      --start: 1;
      --span: 7;
    }
  }

  &[data-span='1/3'] {
    --start: 1;
    --span: 3;

    grid-column: span 4;
    @media (width > 489px) {
      --span: 1;
    }
    @media (width > 767px) {
      --span: 8;
    }
    @media (width > 1039px) {
      --start: 8;
      --span: 5;
    }
    @media (width > 1439px) {
      --start: 8;
      --span: 5;
    }
  }

  &[data-span='1/4'] {
    --start: 1;
    --span: 1;

    grid-column: span var(--span);

    @media (width > 489px) {
      --span: 2;
    }

    @media (width > 767px) {
      --span: 4;
    }

    @media (width > 1039px) {
      --span: 3;
    }

    @media (width > 1439px) {
      --span: 3;
    }
  }

  &[data-span='3/4'] {
    --start: 1;
    --span: 1;

    grid-column: span var(--span);

    @media (width > 489px) {
      --span: 2;
    }

    @media (width > 767px) {
      --span: 4;
    }

    @media (width > 1039px) {
      --span: 9;
    }

    @media (width > 1439px) {
      --span: 9;
    }
  }
}

.grid-item-span1 {
  grid-column: span 1;
}

.grid-item-span2 {
  grid-column: span 2;
}

.grid-item-span3 {
  grid-column: span 3;
}

.grid-item-span4 {
  grid-column: span 4;
}

.grid-item-span5 {
  grid-column: span 5;
}

.grid-item-span6 {
  grid-column: span 6;
}

.test-column {
  display: block;
  width: 100%;
  height: 20rem;
  background: red;
  @media (width > 767px) {
    height: 100vh;
  }
}
