/* Paddings *//* Margins */.block {
    display: block;
}.width100 {
  width: 100%;
}.flex {
  --gap: 0;
  display: flex;
}.flex>*+* {
  margin-left: var(--gap);
}.flex-column {
  flex-direction: column;
}.flex-wrap {
  flex-wrap: wrap
}.items-start {
  align-items: flex-start
}.items-center {
  align-items: center
}.items-baseline {
  align-items: baseline
}.items-stretch {
  align-items: stretch;
}.justify-center {
  justify-content: center;
}.justify-between {
  justify-content: space-between;
}.justify-around {
  justify-content: space-around;
}.mb-0 {
  margin-bottom: 0;
}.mb-1 {
  margin-bottom: 0.25rem;
}.mb-2 {
  margin-bottom: 0.5rem;
}.mb-3 {
  margin-bottom: 1rem;
}.mb-4 {
  margin-bottom: 1.5rem;
}.mb-5 {
  margin-bottom: 2rem;
}.mb-6 {
  margin-bottom: 2.5rem;
}.mb-7 {
  margin-bottom: 3rem;
}.mt-0 {
  margin-top: 0;
}.mt-1 {
  margin-top: 0.25rem;
}.mt-2 {
  margin-top: 0.5rem;
}.mt-3 {
  margin-top: 1rem;
}.mt-4 {
  margin-top: 1.5rem;
}.mt-5 {
  margin-top: 2rem;
}.mt-6 {
  margin-top: 2.5rem;
}.mt-7 {
  margin-top: 3rem;
}.p-0 {
  padding: 0;
}.p-1 {
  padding: 0.5rem;
}.p-2 {
  padding: 1rem;
}.p-3 {
  padding: 1.5rem;
}.p-4 {
  padding: 2rem;
}.p-lr-0 {
  padding: 0;
}.p-lr-1 {
  padding: 0 0.5rem;
}.p-lr-2 {
  padding: 0 1rem;
}.p-lr-3 {
  padding: 0 1.5rem;
}.p-lr-4 {
  padding: 0 2rem;
}.p-tb-0 {
  padding: 0;
}.p-tb-1 {
  padding: 0.5rem 0;
}.p-tb-2 {
  padding: 1rem 0;
}.p-tb-3 {
  padding: 1.5rem 0;
}.p-tb-4 {
  padding: 2rem 0;
}